html,
body {
	height: 100%;
}

ul,
ol {
	list-style: none;
}

html,
body,
p,
ul,
li,
ol {
	margin: 0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;
}
.main-container {
	display: flex;
	justify-content: center;
}

.center-div {
	width: 1200px;
}




/* 登录注册 */
.register-container {
	height: 30px;
	background-color: #f8f8f8;
}

.register-container>div.center-div {
	display: flex;
	/* 放在结尾（右边） ，网页元素默认，从左上方布局开始*/
	justify-content: flex-end;
}

.reg-right {
	display: flex;
}

.reg-right>span {
	margin: 0 10px;
	line-height: 30px;
	color: #fe1923;
	font-weight: bold;
}

.reg-right>.text-container {
	line-height: 30px;
}

.reg-right>.text-container>span {
	margin: 0 10px;
	color: #aaa;
}

.num {
	color: #FE1923;
}


/* 首页 */
.main-container {
	display: flex;
	justify-content: center;
}

.nav-container {
	display: flex;
	justify-content: center;
	height: 55px;
	width: 100%;
	background-color: #1184DA;
}

.nav {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-list {
	display: flex;
	color: #fff;
}

.nav-list>li {
	position: relative;
	padding: 0 25px;
	line-height: 55px;
	cursor: pointer;
}

.nav-list>li>a {
	color: #fff;
}

.nav-list>li:hover {
	background-color: #2a95e5;
}

.active {
	background-color: #2a95e5;
}

.search-box>a {
	color: #AAAAAA;
}




/* 搜索 */
.whole {
	display: flex;
	justify-content: center;
	height: 100%;
}

.whole>div {
	display: flex;
	flex-direction: column;
	width: 1200px;
	background-color: #f7f7f7;
}

.works {
	display: flex;
	margin: 25px;
	background-color: #EEEEEE;
	border: 1px solid #007AFF;
	box-sizing: border-box;
}

.works-img {
	width: 120px;
	height: 120px;
	border-radius: 10px;
}

.worck-text1 {
	font-size: 20px;
	color: #333333;
	padding: 10px;
}
.worck-text2 {
	font-size: 12px;
	color: #999999;
	padding: 10px;
}
.worck-text3 {
	font-size: 14px;
	color: #666666;
	padding: 10px;
}



/* 底部 */
.end>div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100%;
	padding: 20px 0 0 0;
	background-color: #383838;
}
.end-text {
	color: #EEEEEE;
}